PORT=
PREFIX=/api/v1
NODE_ENV=development


DATABASE_URL=

DB_TEST_NAME=
DB_TEST_USERNAME=
DB_TEST_PASSWORD=
DB_TEST_HOST=
DB_TEST_PORT=

DB_PROD_NAME=
DB_PROD_USERNAME=
DB_PROD_PASSWORD=secure_prod_password
DB_PROD_HOST=your-production-host.com
DB_PROD_PORT=

JWT_SECRET=
JWT_EXPIRES_IN=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=